<main class="container">
    <div *ngIf="error" class="alert-bad">{{error}}</div>
    <div class="choice-question">{{poll.question}}</div>
    <ul class="choice-list">
        <li class="choice-item" 
            [ngClass]="selected === i ? 'choice-selected' : ''"
            *ngFor="let choice of poll.choices; let i = index" 
            (click) = "select(i)">
            <span class="choice-text">{{choice.value}}</span>
        </li>
    </ul>
    <button 
        (click) ="submit()">Submit</button>

    <div [routerLink]="['/results', poll.id]" class="">ID: {{poll.id}}</div>
</main>
