<main class="container">
  <mat-card>
    <mat-card-content>
      <h2 class="choice-question">{{poll.question}}</h2>
      <mat-list role="list">
          <mat-list-item role="listitem" class="list-item" 
              [ngClass]="selected === i ? 'list-item-selected' : ''"
              *ngFor="let choice of poll.choices; let i = index" 
              (click) = "select(i)">
              <span class="choice-text">{{choice.name}}</span>
          </mat-list-item>
      </mat-list>
      <button mat-stroked-button 
        style="margin: 1rem 1rem;"
        (click) ="submit()">Submit</button>

      <div [routerLink]="['/results', poll.id]" class="">ID: {{poll.id}}</div>

    </mat-card-content>
  </mat-card>
    
</main>
