<main class="container">
  <mat-card>
    <mat-card-content style="display: flex; flex-direction: column;">
      <mat-form-field>
        <mat-label>Question</mat-label>
        <input matInput placeholder="question" value="" [(ngModel)]="question">

  
      </mat-form-field>

      <mat-form-field
        *ngFor="let choice of choices; let i = index; trackBy:trackByFn">
        <input matInput type="text" 
          class="choice-text" 
          placeholder="option"
          [(ngModel)]="choices[i]">
      </mat-form-field>
      <div>
        <button mat-stroked-button (click) ="addChoice()">+</button>
        <button mat-stroked-button (click) ="removeChoice()">-</button>
        <button mat-raised-button (click) ="submit()">Submit</button>
      </div>
    </mat-card-content>
  </mat-card>
</main>