<main class="container">
    <input type="text" 
        class="choice-question" 
        placeholder="prompt..."
        [(ngModel)]="question">
    <ul class="choice-list">
        <li class="choice-item" 
            *ngFor="let choice of choices; let i = index; trackBy:trackByFn">
            <input type="text" 
                class="choice-text" 
                placeholder="option"
                [(ngModel)]="choices[i]">
        </li>
    </ul>
    <button (click) ="addChoice()">+</button>
    <button (click) ="submit()">Submit</button>
</main>