@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Itim', cursive;
    /* font-size: 100%; */
}

.container {
    max-width: 70vw;
    margin: 2rem auto;
}

.list-item {
  transition: background-color 300ms ease, border-left 300ms ease;
}

.list-item span {
  display: inline-block;
  margin: 0rem 1rem;
}

.list-item-selected {
  background-color: #5f5f5f;
  border-left: 6px solid #909090;
}

.list-item:hover {
  background-color: #5f5f5f;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
